# Node
npm-debug.log
node_modules/

# Mac
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
.localized

# Windows
Thumbs.db
*:Zone.Identifier
**/*:Zone.Identifier

# WebStorm
.idea/

# vi/vim
*~
*.swp

# General
log/
*.log

# etc...

