# Mac
**/.DS_Store
**/._.DS_Store
.DS_Store
._.DS_Store
.DS_Store?
._*
.localized
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
Thumbs.db
ehthumbs.db
*:Zone.Identifier

# WebStorm
.idea/

# vi/vim
*~
*.swp

# VS Code
.vscode/

# Git
*.orig
