# Node
npm-debug.log
node_modules/

# Mac
.DS_Store
.localized
.AppleDouble
.LSOverride

# Windows
Thumbs.db
*:Zone.Identifier
System Volume Information

# WebStorm
.idea/

# vi/vim
*~
*.swp

# General
log/
*.log

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
